<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bandTitle</key>
		<string>恩恩嘻嘻</string>
		<key>products</key>
		<array>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>990</integer>
				<key>productNum</key>
				<string>Z05B145-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/Z05B145-01RH_20151017120220355.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01001</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01002</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/20150505150015522_20150615184607718.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01002</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/20150505150015522_20150615184607718.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>金丰美</string>
				<key>originPrice</key>
				<integer>1565</integer>
				<key>productNum</key>
				<string>W51215/2</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/2_20160409151833842.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>1850</integer>
				<key>productNum</key>
				<string>Z05T152A-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/dealer/1/product/2015/5/20150502144017489.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>堡施华</string>
				<key>originPrice</key>
				<integer>2365</integer>
				<key>productNum</key>
				<string>68031-3</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/68031-6-G9灯泡_20151211173711837.png</string>
				<key>productPrice</key>
				<real>710</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bandTitle</key>
		<string>哈哈扣扣</string>
		<key>products</key>
		<array>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01002</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/20150505150015522_20150615184607718.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>金丰美</string>
				<key>originPrice</key>
				<integer>1565</integer>
				<key>productNum</key>
				<string>W51215/2</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/2_20160409151833842.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>1850</integer>
				<key>productNum</key>
				<string>Z05T152A-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/dealer/1/product/2015/5/20150502144017489.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>1850</integer>
				<key>productNum</key>
				<string>Z05T152A-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/dealer/1/product/2015/5/20150502144017489.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>金丰美</string>
				<key>originPrice</key>
				<integer>1565</integer>
				<key>productNum</key>
				<string>W51247/2</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/2_20160409145609392.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>堡施华</string>
				<key>originPrice</key>
				<integer>2365</integer>
				<key>productNum</key>
				<string>68031-3</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/68031-6-G9灯泡_20151211173711837.png</string>
				<key>productPrice</key>
				<real>710</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bandTitle</key>
		<string>呵呵恩恩</string>
		<key>products</key>
		<array>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>990</integer>
				<key>productNum</key>
				<string>Z05B145-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/Z05B145-01RH_20151017120220355.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01001</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>测试品牌01</string>
				<key>originPrice</key>
				<integer>10000</integer>
				<key>productNum</key>
				<string>yscp01002</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/20150505150015522_20150615184607718.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>金丰美</string>
				<key>originPrice</key>
				<integer>1565</integer>
				<key>productNum</key>
				<string>W51215/2</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/2_20160409151833842.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>名灯共和●简中</string>
				<key>originPrice</key>
				<integer>1850</integer>
				<key>productNum</key>
				<string>Z05T152A-01RH</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/dealer/1/product/2015/5/20150502144017489.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>堡施华</string>
				<key>originPrice</key>
				<integer>2365</integer>
				<key>productNum</key>
				<string>68031-3</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/68031-6-G9灯泡_20151211173711837.png</string>
				<key>productPrice</key>
				<real>710</real>
			</dict>
			<dict>
				<key>brandName</key>
				<string>金丰美</string>
				<key>originPrice</key>
				<integer>1565</integer>
				<key>productNum</key>
				<string>W51247/2</string>
				<key>productPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/2_20160409145609392.png</string>
				<key>productPrice</key>
				<real>0.009999999776482582</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
